.custom-class {
    font-size: 4rem !important;
}

.navbar-nav .nav-link:hover {
    color: red !important;
}

.another-class {
    padding-left: 15rem !important;
    padding-right: 15rem !important;
}

.card-title{
    font-size: 1rem;
    margin-top: -8px;
    color: #757575;
}

.card-text{
    margin-top: -14px;
    font-size: 1.1rem;
}

@media (max-width: 1024px) {
    .another-class {
        padding-left: 5rem !important;
        padding-right: 5rem !important;
    }
}

@media (max-width: 425px) {
    .another-class {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
}